BOT_TOKEN='YOUR-TOKEN-HERE'

# Add userids (number) in the list below for the users who are allowed to use the bot. If the list is empty, anyone is allowed
LIST_ALLOWED_USERS=[]

LINKS_BASE_URL='https://shgl.in/'

LINKS_REPO_URL='git@github.com:shantanugoel/deecubes-bot-test.git'

# Path is absolute or relative to home dir
LINKS_REPO_PATH_LOCAL_ABS=False

LINKS_REPO_PATH_LOCAL='deecubes'

LINKS_REPO_BRANCH='source'

LINKS_REPO_AUTHOR_NAME='deecubes_bot'

LINKS_REPO_AUTHOR_EMAIL='shantanu.goel@gmail.com'

FILES_BASE_URL='https://shgl.in/'
FILES_REPO_PATH_LOCAL_ABS=False
FILES_REPO_URL='https://github.com/shantanugoel/deecubes-bot-test.git'
FILES_REPO_PATH_LOCAL='deecubes-files'
FILES_REPO_BRANCH='master'
FILES_REPO_AUTHOR_NAME='deecubes_bot'
FILES_REPO_AUTHOR_EMAIL='shantanu.goel@gmail.com'
